Checks: 'bugprone*,
         clang-analyzer*,
         cert*,
         misc*,
         modernize*,
         performance*,
         portability*,
         readability*,
         google*,
         llvm*,
         -*-avoid-c-arrays,
         -llvm-header-guard,
         -misc-non-private-member-variables-in-classes,
         -modernize-use-nodiscard,
         -modernize-use-trailing-return-type'
WarningsAsErrors: '*'
HeaderFilterRegex: '.'
